body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background: #c6e1d2;
    color: #252525;
  }
  
  /* loading overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out; /* 用過渡效果使它淡出 */
  }
  
  .loading-image {
    width: 500px;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-out; 
    @media (max-width: 768px) {
        width: 200px;
    }
  }
  
  .loading-overlay.hidden {
    opacity: 0;
    pointer-events: none; 
  }
  
  .loading-image.hidden {
    opacity: 0;
  }

  
  .page {
    width: 100%;
  }
  
  .navbar {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
  }
  
  .menus {
    display: flex;
    justify-content: space-around;
    width: 70%;
    transition: transform 0.3s ease-in-out;
  }
  
  .menus.open {
    transform: translateX(0); /* 顯示菜單 */
  }
  
  .item {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .menu-icon {
    width: 150px;
    height: 50px;
    object-fit: cover;
    object-position: center;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  
  .hamburger .bar {
    height: 5px;
    background-color: #333;
    border-radius: 5px;
  }
  
  .hamburger.open .bar {
    background-color: #ff0000; /* 漢堡菜單開啟時顏色變換 */
  }
  
  @media (max-width: 768px) {
    .menus {
      width: 100%;
      justify-content: center;
      display: none; /* 預設隱藏菜單 */
      flex-direction: column;
      background: rgba(255, 255, 255, 0.9);
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 10;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    }
  
    .menus.open {
      display: flex; 
    }
  
    .item {
      width: 100%; 
      text-align: center;
      padding: 12px 0;
    }
  
    .hamburger {
      display: flex;
    }
  }
  

  #sensory-enhancement{
    width: 100%;
    height: 100px;
  }
  #self-awareness{
    width: 100%;
    height: 60px;
  }
  #sensory{
    width: 100%;
    height: auto;
  }